
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
     --primary: #1e82f6;
     --dark: #333333;
     --light: #ffffff;
     --secondary: #333333

}
.d-flex{
    display: flex;
}
.d-flex.align-items-center{
    align-items: center;
}
.d-flex.space-between{
    justify-content: space-between;
}

.container {
margin-left: 100px;
margin-right: 100px;
}

.header {
    padding: 20px 0;
    background-color: var(--light);
    border-bottom: 1px solid ;
}
.logo, .nav-link {
    cursor: pointer;
}
.logo {
    color: var(--primary);
    font-size: 20px;
}

.nav .nav-link{
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}
.nav .nav-link {
    color: var(--dark);

}
.nav-link:hover {
    color: var(--primary);
}

.pizzas {
    padding: 90px 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.title {
    margin-bottom: 35px;
    font-size: 35px;
    color: var(--primary)
    
}

.pizzas-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.pizza-card{
    padding: 20px;
    flex-basis: 23%;
    background-color: var(--light);
    border: 1px solid var(--secondary);
    border-radius: 30px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.pizza-img{
    width: 100%;

}
.pizza-title{
    font-size: 20px;
    margin: 10px 0;
    color: var(--primary);
}

.pizza-description{
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 20px;
}

.pizza-action{
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.pizza-price{
    font-size: 20px;
    font-weight: 300;
}

.add-to-cart{
    padding: 15px 45px;
    background-color: var(--primary);
    color: var(--light);
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
}

.error {
    border-radius: 30px;
    padding: 30px;
    color: var(--danger);
}

.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.preloader-circle {
    width: 50px;
    height: 50px;
    border: 4px solid #333;
    border-top-color: #1e82f6;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}