<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header class="header">
        <div class="container d-flex align-items-center space-between">
            <span class="logo">PizzaFy</span>
            <ul class="nav">
                <li class="nav-link">
                    <span class="nav-link"><svg xmlns="http://www.w3.org/2000/svg" width="23" height="22" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                        <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
                      </svg></span>
                </li>
                <li class="nav-link">
                    <span class="nav-link"><svg xmlns="http://www.w3.org/2000/svg" width="23" height="22" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2"/>
                      </svg></span>
                </li>
                <li class="nav-link">
                    <span class="nav-link"><svg xmlns="http://www.w3.org/2000/svg" width="23" height="22" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                      </svg></span>
                </li>
            </ul>
        </div>
    </header>

    <main class="main">
        <section class="pizzas">
            <div class="container">
                <h1 class="title" >Choose your pizza</h1>
                <div class="pizzas-row">
                    <div class="pizza-card">
                        <img src="./Pizza/11EF01FF6733959B9A68B4188AB4E654.avif" class="pizza-img" alt="title">
                        <h3 class="pizza-title">name</h3>
                        <p class="pizza-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel placeat ut quae dicta suscipit sapiente qui enim incidunt itaque provident. Consequatur cumque labore expedita, error aspernatur animi eligendi eum cupiditate.</p>
                        <div class="pizza-action">
                            <h5 class="pizza-price">1234 ₸</h5>
                            <button class="add-to-cart">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart-dash" viewBox="0 0 16 16">
                                    <path d="M6.5 7a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1z"/>
                                    <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                                </svg>
                            </button>
                        </div>
                    </div>

                    <div class="pizza-card">
                        <img src="./Pizza/11EF01FF6733959B9A68B4188AB4E654.avif" class="pizza-img" alt="title">
                        <h3 class="pizza-title">name</h3>
                        <p class="pizza-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel placeat ut quae dicta suscipit sapiente qui enim incidunt itaque provident. Consequatur cumque labore expedita, error aspernatur animi eligendi eum cupiditate.</p>
                        <div class="pizza-action">
                            <h5 class="pizza-price">1234 ₸</h5>
                            <button class="add-to-cart">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart-dash" viewBox="0 0 16 16">
                                    <path d="M6.5 7a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1z"/>
                                    <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                                </svg>
                            </button>
                        </div>
                    </div>

                    <div class="pizza-card">
                        <img src="./Pizza/11EF01FF6733959B9A68B4188AB4E654.avif" class="pizza-img" alt="title">
                        <h3 class="pizza-title">name</h3>
                        <p class="pizza-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel placeat ut quae dicta suscipit sapiente qui enim incidunt itaque provident. Consequatur cumque labore expedita, error aspernatur animi eligendi eum cupiditate.</p>
                        <div class="pizza-action">
                            <h5 class="pizza-price">1234 ₸</h5>
                            <button class="add-to-cart">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart-dash" viewBox="0 0 16 16">
                                    <path d="M6.5 7a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1z"/>
                                    <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                                </svg>
                            </button>
                        </div>
                    </div>

                    <div class="pizza-card">
                        <img src="./Pizza/11EF01FF6733959B9A68B4188AB4E654.avif" class="pizza-img" alt="title">
                        <h3 class="pizza-title">name</h3>
                        <p class="pizza-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel placeat ut quae dicta suscipit sapiente qui enim incidunt itaque provident. Consequatur cumque labore expedita, error aspernatur animi eligendi eum cupiditate.</p>
                        <div class="pizza-action">
                            <h5 class="pizza-price">1234 ₸</h5>
                            <button class="add-to-cart">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart-dash" viewBox="0 0 16 16">
                                    <path d="M6.5 7a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1z"/>
                                    <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>
